@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Hedvig Letters Sans', sans-serif;
  color: #181818;
  background-color: #f1f1f1;
}

nextjs-portal {
  background-color: #f1f1f1;
}

@media (min-width: 1024px) {
  html {
    font-size: 13px;
  }

  input, textarea {
    font-size: 14px;
  }
  
}

@media (min-width: 1636px) {
  html {
    font-size: 14px;
  }

  input, textarea {
    font-size: 16px;
  }
}

@media (min-width: 1900px) {
  html {
    font-size: 16px;
  }

  input, textarea {
    font-size: 16px;
  }
}

.layout-grid {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
}

.stage-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
}

.rules-grid {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

:host {
  background-color: #f1f1f1 !important;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}