@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Hedvig Letters Sans', sans-serif;
  color: #181818;
  background-color: #f1f1f1;  
}

nextjs-portal {
  background-color: #f1f1f1;
}

@media (min-width: 1024px) {
  html {
    font-size: 13px;
  }

  input, textarea {
    font-size: 14px;
  }
  
}

@media (min-width: 1636px) {
  html {
    font-size: 14px;
  }

  input, textarea {
    font-size: 16px;
  }
}

@media (min-width: 1900px) {
  html {
    font-size: 16px;
  }

  input, textarea {
    font-size: 16px;
  }
}

.layout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 1024px) {
  .layout-grid {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
  }  
}

.stage-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
}

.rules-grid {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

:host {
  background-color: #f1f1f1 !important;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

body::-webkit-scrollbar-track
{
	background-color: #f1f1f1;
}

body::-webkit-scrollbar
{
	width: 10px;
}

body::-webkit-scrollbar-thumb
{
  border: #f1f1f1 solid 2px;
	border-radius: 7px;
	background-color: #6b6b6b90;
}

.custom-textarea-scrollbar::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

.custom-textarea-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 7px;
	background-color: #6b6b6b90;
}

.custom-textarea-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(241, 241, 241, 0.0);
}

/* Loader */

/* HTML: <div class="loader"></div> */
.loader {
  width: 75px;
  aspect-ratio: 1; 
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  width: 35px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px #fff inset;
  filter: drop-shadow(40px 40px 0 #fff);
  animation: l8 2s infinite alternate;
}
.loader:after {
  margin: 0 0 0 auto; 
  filter: drop-shadow(-40px 40px 0 #fff);
  animation-delay: -1s;
}
@keyframes l8 {
  0%,10%   {border-radius:0}
  30%,40%  {border-radius:50% 0}
  60%,70%  {border-radius:50%}
  90%,100% {border-radius:0 50%}
}